@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .container-border-x {
      border-left: 1px solid theme('colors.zinc.400');
      border-right: 1px solid theme('colors.zinc.400');
      padding: 0 theme('spacing.7')
    }
  }

::selection {
  background: theme('colors.orange.200');
}