@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scroll wheel for numbers */
@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

::selection {
  background: theme("colors.orange.200");
}

body {
  background-color: white;
}
