@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .container-border-x {
      border-left: 1px solid theme('colors.zinc.200');
      border-right: 1px solid theme('colors.zinc.200');
      padding: 0 theme('spacing.7')
    }
  }