@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scroll wheel for numbers */
@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  a {@apply dark:hover:text-custom-peach;}
  hr {@apply dark:border-gray-700;}
  nav {@apply dark:border-gray-500;}
  h1 {@apply text-custom-peach;}
}

@layer components {
    .container-border-x {
      border-left: 1px solid theme('colors.zinc.400');
      border-right: 1px solid theme('colors.zinc.400');
      padding: 0 theme('spacing.7')
    }
  }

::selection {
  background: theme('colors.orange.200');
}

body {
  background-color: white;
}
